:root {
	--primary-color: #3498db; /* Blue */
	--secondary-color: #2c3e50; /* Dark Blue */
	--background-color: #ecf0f1; /* Light Gray */
	--font-color: #34495e; /* Dark Gray */
  }
  
  body {
	background-color: var(--background-color);
	color: var(--font-color);
	font-family: 'Roboto', Arial, sans-serif;
	padding: 0;
	margin: 0;
  }
  
  .home {
	max-width: 100%;
	margin: 0 auto;
  }
  
  .hero,
  .about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 50px 20px;
	background-color: var(--primary-color);
	color: var(--background-color);
  }
  
  .heroTitle,
  .aboutTitle {
	font-size: 1.8rem;
	color: var(--background-color);
	margin-bottom: 20px;
  }
  
  .heroDescription,
  .aboutDescription {
	font-size: 1rem;
	line-height: 1.6;
  }
  
  .about {
	background-color: var(--secondary-color);
  }

  .tourDates {
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  .tourDates ul {
	display:flex;
	gap:15px;
  }
  
  .tourDates h2 {
	font-size: 2rem;
	color: #333;
	width: 100%;
	margin-left: 2rem;
  }
  
  .tourDates li {
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	margin-bottom: 2rem;
	flex-basis: calc(50% - 1rem);
	padding: 1rem;
	border-radius: 4px;
	list-style: none;
	transition: box-shadow 0.3s ease-in-out;
  }
  
  .tourDates li:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .tourDates h3 {
	font-size: 1.5rem;
	color: #333;
	margin: 0;
	margin-bottom: 0.5rem;
  }
  
  .tourDates p {
	color: #666;
	margin: 0;
	margin-bottom: 0.5rem;
  }
  
  
  
  /* Larger screen adjustments */
  @media screen and (min-width: 768px) {
	.home {
	  max-width: 960px;
	}
  
	.hero,
	.about {
	  padding: 50px 0;
	}
  
	.heroTitle,
	.aboutTitle {
	  font-size: 2.5rem;
	}
  
	.heroDescription,
	.aboutDescription {
	  font-size: 1.2rem;
	}
  }