:root {
	--primary-color: #3498db; /* Blue */
	--secondary-color: #2c3e50; /* Dark Blue */
	--background-color: #ecf0f1; /* Light Gray */
	--font-color: #34495e; /* Dark Gray */
  }
  
  body {
	background-color: var(--background-color);
	color: var(--font-color);
	font-family: 'Roboto', Arial, sans-serif;
	padding: 0;
	margin: 0;
  }
  
  .home {
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;
  }
  
  .hero,
  .about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 50px 20px;
	background-color: var(--primary-color);
	color: var(--background-color);
  }
  
  .heroTitle,
  .aboutTitle {
	font-size: 1.8rem;
	color: var(--background-color);
	margin-bottom: 20px;
  }
  
  .heroDescription,
  .aboutDescription {
	font-size: 1rem;
	line-height: 1.6;
  }
  
  .about {
	background-color: var(--secondary-color);
  }
  
  /* Larger screen adjustments */
  @media screen and (min-width: 768px) {
	.home {
	  max-width: 960px;
	}
  
	.hero,
	.about {
	  padding: 50px 0;
	}
  
	.heroTitle,
	.aboutTitle {
	  font-size: 2.5rem;
	}
  
	.heroDescription,
	.aboutDescription {
	  font-size: 1.2rem;
	}
  }