.header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background-color: var(--primary-color);
	color: var(--background-color);
  }
  
  .header h1 {
	margin: 0;
  }
  
  .header nav {
	display: flex;
	gap: 20px;
  }
  
  .header a {
	color: var(--background-color);
	text-decoration: none;
  }
  
  .header a.active {
	font-weight: bold;
  }
  
  @media screen and (min-width: 768px) {
	.header {
	  padding: 40px 80px;
	}
  
	.header h1 {
	  font-size: 2rem;
	}
  
	.header nav {
	  gap: 40px;
	}
  }
  